<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display_course</title>
</head>
<body>
    <center>
        <h1> Display Course Details </h1>
        <table border="3px">
            <tr>
                <th>Course ID</th>
                <th>Student ID</th>
                <th>Course</th>
                <th>College Name</th>
            </tr>
            {% for i in CDO %}

                <tr>
                    <td align="center">{{ i.cid }}</td>
                    <td align="center">{{ i.sid }}</td>
                    <td align="center">{{ i.course }}</td>
                    <td align="center">{{ i.college }}</td>
                </tr>

            {% endfor %}
        </table>
    </center>
</body>
</html>